.mining-main {
    height: 590px;
    background-image: url("../../../public/lastimage.png");
    background-size: 100vw 90vh;
    margin-top: -250px;
}

.mining-section {
    .inner-section {
        color: black;
        text-align: center;
        width: 100%;
        position: relative;
        top: 20%;
        height: 100%;
        .top-text {
            padding-top: 10rem;
            margin-bottom: 0;
            font-weight: 400;
            font-size: 26px;
        }
        .bottom-text {
            margin-top: 0;
            padding-bottom: 1rem;
            font-weight: bolder;
            font-size: 30px;
        }
        .inner-button {
            color: white;
            font-weight: 400px;
            background: #20788C;
            border: 0px;
            font-weight: 500;
            font-size: 20px;
            padding: 0.5rem 1rem 0.5rem 1rem;
        }
    }
}

.mining-last-section {
    height: 100px;
    margin-top: 180px;
    background: linear-gradient(to bottom, #20788C 0%, #00000000 100%);
    transform: matrix(1, 0, 0, -1, 0, 0);
}