.feature-section {
    color: white;
    background-color: #20788C;
    height: 400px;
    .feature-innersec {
        margin: 0 4rem 3rem 4rem;
        text-align: center;
        p {
            font-weight: 500;
            font-size: 26px;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    .feature-cardsec {
        margin: 0 4rem 0 6.5rem;
        .card {
            float: left;
            margin-left: 1rem;
            height: 236px;
            width: 317px;
            background-color: #07203F;
            text-align: center;
            .image-section {
                text-align: center;
                margin-top: 20px;
                .card-image {
                    border-radius: 36px;
                    background-color: white;
                    height: 64px;
                    width: 64px;
                }
            }
            .card-title {
                font-weight: normal;
                font-size: 18px;
            }
            .card-text {
                font-weight: lighter;
                font-size: 14px;
                padding: 2rem;
                padding-top: 1rem;
                color: #C4C4C4;
            }
        }
        .card-image {
            width: 100%;
        }
        .card-text {
            font-weight: 100;
        }
    }
}

@media screen and (max-width: 820px) {
    .feature-section {
        height: 1700px;
    }
    .feature-cardsec {
        text-align: center;
        .card {
            float: none;
            width: 60% !important;
            margin-left: 7rem !important;
            margin-top: 3rem;
            margin-bottom: 3rem;
        }
    }
}

@media screen and (max-width: 475px) {
    .feature-section {
        height: 1500px;
    }
    .feature-cardsec {
        .card {
            float: none;
            height: 436px;
            width: 217px !important;
            margin-top: 3rem;
            margin-left: -1.5rem !important;
            margin-bottom: 0 !important;
        }
    }
}

.feature-last-section {
    height: 100px;
    background: linear-gradient(to top, #20788C 0%, #2E5073 100%);
    transform: matrix(1, 0, 0, -1, 0, 0);
}